<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= typeof title != 'undefined' ? title: 'Employe Attendance' %></title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <style>
            .Highlighted a{
                background-color : Green !important;
                background-image :none !important;
                color: White !important;
                font-weight:bold !important;
                font-size: 12pt;
            }
            #totaldays{
                color:#0dcaf0;
            }
            #presentdays{
                color: green;
            }
            #absentdays{
                color: red;
            }
            </style>
</head>
<header>
    <h3><%= attendanceemploye[0].name %>'s Attendance</h3>
</header>
<body>
    <div class="text-center">
        <h1><%= attendanceemploye[0].name %> </h1>
        <h4 id="totaldays">Total  Days Of this Month = <%=daysinmonth %> </h4>
        <h4 id="totaldays">Total Working Days Of this Month = <%=today %> </h4>
        <h4 id="presentdays">Total Present Days In this Month = <%= noOfPresentday %> </h4>
        <h4 id="absentdays">Total Absent Days In this Month = <%= AbsentDays %> </h4>
        <h6 class="text-muted">The Green color is represent attendance day of the employe </h6>
    </div>


    <div class="text-center">
    <input class ="text-center"type='text' id='txtDate' value="<%= attendate %>" />
      </div>

    <script>
         let filter = document.getElementById("txtDate").value;
        let dates = filter.split(' ')
        console.log(filter)
        $(document).ready(function() {
            var SelectedDates = {};
            for(let i = 0; i<dates.length;i++){
                console.log(dates[i])
                SelectedDates[new Date(dates[i])] = new Date(dates[i]);
            }
            $('#txtDate').datepicker({
                beforeShowDay: function(date) {
                    var Highlight = SelectedDates[date];
                    if (Highlight) {
                        return [true, "Highlighted", Highlight];
                    }
                    else {
                        return [true, '', ''];
                    }
                }
            });
        });
        </script>
</body>
</html>