<%- include('./layout/main_layouts.ejs') -%>
<head>
    <link rel="stylesheet" href="css/mobiscroll.javascript.min.css">
    <script src="js/mobiscroll.javascript.min.js"></script>
</head>
<body>
    
<table class="table">
<thead>
<tr>
    <th scope="col-4">Name</th>
    <th scope="col-4">Email</th>
    <th scope="col-4">Date</th>
    <th scope="col-4">Time</th>
</tr>
</thead>
<tbody>
<% if(search !='' ) { %>
    <% search.forEach(function(search){ %>
        <tr>
            <td>
                <%= search.name %>
            </td>
            <td>
                <%= search.email %>
            </td>
            <td>
                <%= search.day %>
            </td>
            <td>
                <%= search.time %>
            </td>
        </tr>
        <% }) %>
        <% } else { %>
            <p>No items found.</p>
            <% } %>
            
        </table>
    </table>
</body>