<%- include('./layout/main_layouts.ejs') -%> 
<table class="table">
    <thead>
      <tr>
        <th scope="col-4">Name</th>
        <th scope="col-4">Email</th>
        <th scope="col-4">Date</th>
        <th scope="col-4">Time</th>
        <th scope="col-4">Present</th>
        <th scope="col-4">View Attendence</th>
    </tr>
    </thead>
    <tbody>
        <% if(typeof employees !=='undefined' && employees.length> 0) { %>
            <% employees.forEach(function(Attendance){ %>
                <tr>

                <td>
                    <%= Attendance.name %>
                </td>
                <td>
                    <%= Attendance.email %>
                </td>
                <td>
                    <%= Attendance.day %>
                </td>
                <td>
                    <%= Attendance.time %>
                </td>
                <td>
                    <%= Attendance.isPresent %>
                </td>
                <td>
                    <a href="/calender/<%= Attendance.email %> ">View Attendence</a>
                </td>
            </tr>
                <% }) %>
        <% } %>
        <td></td>
    
    </table>
  </table>